@page "/fetchchampions2"

@using My2Blazor.Data
@inject ChampionService championService
<header>
    <h1>Inspect League Champions</h1>

</header>


<p>Get Champion statistics and compare!</p>

<input @bind=champName/>


<p>Advice: @advice</p>


<button class="btn btn-primary" @onclick=GetChampName>Add</button>




@if (champions == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>               
                <th>Champion Name</th>
                <th>Attack Speed</th>
                <th>Attack Range</th>
                <th>ManaPoints</th>
                <th>HealthPoints</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var champion in champions)
            {
                <tr>
                    <td>@champion.Name</td>
                    <td>@champion.AttackSpeed</td>
                    <td>@champion.AttackRange</td>
                    <td>@champion.ManaPoints</td>
                    <td>@champion.HealthPoints</td>
                </tr>
            }
        </tbody>
    </table>
}
     

  






@code {
    ChampionService cService = new ChampionService();

    public ChampionInfo[] champions;

    public int numOfChamp = 0;   
    public string champName;
    public string championUrl = "http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ahri_0.jpg";

    public string advice = "Try adding a champion!";


    private async Task GetChampName()
    {
      

        
        cService.newChamp = champName;
        cService.newChampOriginal = champName;

    

         cService.ProcessInput();




        if(cService.ErrorMessage)
        {
            
            cService.NoChampionsSoFar = numOfChamp;
            advice = "You must input a valid champion name. The search is case sensitive, make sure to include the correct punctuation and spaces.";
        }
        else
        {
             numOfChamp++;
            cService.NoChampionsSoFar = numOfChamp;     
            championUrl = "http://ddragon.leagueoflegends.com/cdn/img/champion/splash/" + cService.jsonChampName + "_0.jpg";
        
             champions = await cService.GetChampionInfo();
 

              advice = "Success! Try adding another...";
        }
        

        

 
    }

}
